.products_box
{
    width: 400px;
    overflow: hidden;
    max-height: 590px;
    /* padding: 10px; */
    
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.products_box img{
    width: fit-content;
    height: 400px;
    
    border-radius: 30px 30px 0px 0px;
}

.description{
    padding: 10px;
    font-size: 20px;
    color: rgb(108, 36, 36) ;

}

.price{
    color: black;
    font-weight: bold;


}
.para{
    color: rgb(79, 65, 65);
}
.btn{
    margin-top: 10px;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    border-color: rgb(108, 36, 36);
    color: rgb(108, 36, 36);
    font-size: 20px;
    font: bold;
}

